package Model.APPS.DMA_CH.v4_1_8.Templates;

import Model.APPS.DMA_CH.v4_1_8.DMA_CH


out.print("""
/**
 * @cond
 ***********************************************************************************************************************
 * Copyright (c) 2015, Infineon Technologies AG
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification,are permitted provided that the
 * following conditions are met:
 *
 *   Redistributions of source code must retain the above copyright notice, this list of conditions and the  following
 *   disclaimer.
 *
 *   Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
 *   following disclaimer in the documentation and/or other materials provided with the distribution.
 *
 *   Neither the name of the copyright holders nor the names of its contributors may be used to endorse or promote
 *   products derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE  FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY,OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT  OF THE
 * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * To improve the quality of the software, users are encouraged to share modifications, enhancements or bug fixes
 * with Infineon Technologies AG (dave@infineon.com).
 ***********************************************************************************************************************
 *
 * Change History
 * --------------
 *
 * 2015-02-20:
 *     - Initial version <br>
 *
 * 2015-04-15:
 *     - Handle src/dst address updates with new APIs in DMA LLD <br>
 *     - Documentation updates <br>
 *     - The major, minor and patch numbers are now auto-magically updated using Groovy <br>
 *
 * @endcond
 */

#ifndef DMA_CH_CONF_H
#define DMA_CH_CONF_H

/* Support for C++ */
#ifdef __cplusplus
extern "C" {
#endif

""");

out.print("""
/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/
 
/**********************************************************************************************************************
 * MACROS
 **********************************************************************************************************************/
""")

out.print("""
#define DMA_CH_MAJOR_VERSION (${(DMA_CH.version).findAll( /\d+/ )*.toInteger()[0]}U) /**< Major version */
#define DMA_CH_MINOR_VERSION (${(DMA_CH.version).findAll( /\d+/ )*.toInteger()[1]}U) /**< Minor version */
#define DMA_CH_PATCH_VERSION (${(DMA_CH.version).findAll( /\d+/ )*.toInteger()[2]}U) /**< Patch version */
""");

out.print("""
/* Support for C++ */
#ifdef __cplusplus
}
#endif

#endif  /* ifndef DMA_CH_CONF_H */

""");
